.himg{
    height: 20vw;
}
.imge{
    height: 100%;
}
.post{
    height: 60vw;
}
h5 {
    margin-bottom: 0px;
}
p {
    margin-bottom: 8px; 
}
.pill-gray a {
    color: gray;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: gray;
}